<h1>수영이 바보</h1>
<form action="/geshipans/create_at" method="post">
    <h3>제목: <input type="text" placeholder="제목을 입력하세요." name="title"></h3>
    <h3>내용: <input type="text" placeholder="내용을 입력하세요." name="content"></h3>
    <input type="submit">
</form>