<h1><%=@review.id%>번 글 review</h1>
<form action="/geshipans/update_at/<%=@review.id%>" method="post">
    <h3>제목: <input type="text" value="<%=@review.title%>" name="title"></h3>
    <h3>내용: <input type="text" value="<%=@review.content%>" name="content"></h3>
    <input type="submit">
</form>